* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

.board {
    height: 70vmin;
    aspect-ratio: 1;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    border: 1vmin solid #adadad;
}

.box1, .box2 {
    display: grid;
    place-items: center;
    font-size: 6vmin;
}

.box1:nth-of-type(odd) {
    background-color: white;
}

.box1:nth-of-type(even) {
    background-color: #e2e2e2;
}

.box2:nth-of-type(even) {
    background-color: white;
}

.box2:nth-of-type(odd) {
    background-color: #e2e2e2;
}

#button:checked ~ .board .box2 .pawn {
    transform: translateY(200%);
} 
